

.hover-underline {
  position: relative;
  cursor: pointer;
}

.hover-underline:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}
